@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    text-decoration: none;
    margin: 0 auto;
}

span {
    color: #2f86d6;
}

/* topo */


.topo {
    width: 100%;
    display: flex;
    background-color: #2f86d6;
}

.container {
    padding: 35px 0;
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.box-logo {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;

}

.topo img {
    width: 80px;
    height: 70px;
}

.texto-cabecalho {
    display: flex;
    flex-direction: column;
}

.texto-cabecalho p {
    color: #fff;
}



.box-menu {
    display: flex;
    gap: 10px;
    margin-right: 0;
}

.topo a {
    font-size: 18px;
    color: #fff;
}

.slogan {
    font-size: 16px;
}


/* tabela */

main {
    padding: 100px 0;
}
main table {
    margin: auto;
}
table {
    width: 1200px;
    margin: auto;
    border-radius: 4px;
    margin: 20px auto;
}
.escondida {
    visibility: hidden;
}
table thead th {
    text-align: center;
    margin: auto;
    background-color: #f1f3f7;
    ;
}

table thead th h3 {
    font-size: 35px;
    margin-bottom: 20px;
}

table thead th p {
    max-width: 150px;
    margin: 15px auto;
    padding-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #a89f9f;
}

.alinhamento {
    background-color: #f1f3f7;
    text-align: left
}

table tbody  td {
    font-size: 14px;
    max-width: 1024px;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #f1f3f7;
    border-right: 1px solid #f1f3f7;
}

.check {
    width: 10px;
    height: 10px;
    margin: auto;
    background-color: #2f86d6;
    border-radius: 100%;


}

/* rodape */

footer {
    padding: 100px 0;
    width: 100%;
    background-color: #2f86d6;
}

footer> p {
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin: 20px 0 70px;;
}

.box-logo-rodape {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 70px;
}
.box-logo-rodape img {
    width: 80px;
}

.box-logo-rodape img {
    width: 80px;
    height: 80px;
}

.txt-logo-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding: 10px;
}

.autor {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
